<p id="notice"><%= notice %></p>

<h1>Isapres</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Other</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @isapres.each do |isapre| %>
      <tr>
        <td><%= isapre.name %></td>
        <td><%= isapre.description %></td>
        <td><%= isapre.other %></td>
        <td><%= link_to 'Show', isapre %></td>
        <td><%= link_to 'Edit', edit_isapre_path(isapre) %></td>
        <td><%= link_to 'Destroy', isapre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Isapre', new_isapre_path %>
